.post{
    width:100%;
    
}

.icon-izda{
    padding-top: 30px;
    
}
h2,a{
    padding-left: 20px;
    margin-bottom: 10px;
    
}

.icon-dcha{
    padding-top:30px;
    padding-left: 46%;
}
img{
    margin-left: 28%;
    width:800px;
    
}
.post-header{
    display:flex;
    margin-left: 28%;
    flex-direction: row;
    justify-content: flex-start;
    
}
.post-icons{
    display:flex;
    margin-left:28%;
}
.icon-3{
    margin-right: 42%;
}
.post-body{
    padding-left:28%;
    padding-right:28%;
    font-family: Roboto;
}
.icon-dch2{
    padding-left:-20%;
}
